---
import "../styles/main.css";
const { title = "Lscythe", ...props } = Astro.props;
---

<title>{title}</title>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Welcome to my portfolio site" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=MedievalSharp&family=UnifrakturCook:wght@700&display=swap"
    rel="stylesheet"
/>
