---
import "../styles/main.css";
const { title = "Lscythe", ...props } = Astro.props;
---

<title>{title}</title>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Welcome to my portfolio site" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=MedievalSharp&family=UnifrakturCook:wght@700&display=swap"
    rel="stylesheet"
/>
