---
import titleBorder from "../assets/images/title-border.webp";
import pattern from "../assets/images/pattern.webp";

const titleBorderUrl = `url(${titleBorder.src})`;
const patternUrl = `url(${pattern.src})`;

const { title } = Astro.props;
---

<div class="title">
    <div class="title-container">
        <h2>{title}</h2>
    </div>
</div>

<style define:vars={{ titleBorderUrl, patternUrl }}>
    .title {
        position: relative;
        width: auto;
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: fit-content;
        padding: 0.6rem 12rem;

        background: var(--main-gradient-bg);

        border-image: var(--titleBorderUrl) 20 fill stretch;
        border-image-outset: 2.8rem;
    }

    .title-container > * {
        position: relative;
        z-index: 1;
    }

    .title h2 {
        font-size: 2.4rem;
        margin: 0;
    }
</style>
