---
import background from "../assets/images/root-bg.webp";
import border from "../assets/images/bg-border.webp";

import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";

const { showFooter = true, ...props } = Astro.props;

const backgroundUrl = `url(${background.src})`;
const borderUrl = `url(${border.src})`;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <Head />
    </head>
    <body>
        <div class="body-container">
            <slot />
            {showFooter && <Footer />}
        </div>
    </body>
</html>

<style define:vars={{ backgroundUrl, borderUrl }}>
    html {
        scroll-behavior: smooth;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        overscroll-behavior: contain;
    }

    body {
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.6)), var(--backgroundUrl);
    }

    .body-container {
        max-width: 1920px;
        margin: 0 auto;

        border-image: var(--borderUrl) 129 125 132 120 fill / 129px 125px 132px
            120px;
        border-image-outset: 7.4rem;
        border-image-repeat: repeat;
        border-image-width: 0 12rem;
    }
</style>
